@using Microsoft.Extensions.Options;
@using PlanIt.Domain.Entities
@using PlanIt.Presentation.WebApp.Options;
@model PlanIt.Domain.Entities.Plan
@inject IOptions<PlanItBackendApiUrls> options;

@*TODO move*@
<style>
    .monthSelectorArrow:hover {
        opacity: 0.5;
    }

    .cursor-pointer {
        cursor: pointer;
    }

</style>

@* User modal *@
<div id="modal" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Who are you?</h5>
            </div>
            <div class="modal-body">
                <div class="list-group">
                    @foreach (var user in @Model.Users ?? Enumerable.Empty<User>())
                    {
                        <a class="list-group-item list-group-item-action" data-user-id="@user.Id.ToString()">@user.Name</a>
                    }
                </div>
            </div>
            <div class="modal-footer">
                <div class="input-group mb-3">
                    <input id="newUsernameInput" type="text" class="form-control" placeholder="Insert your name!"
                           aria-label="Insert your name!" aria-describedby="addButton">
                    <button class="btn btn-outline-secondary" type="button" id="addButton" data-bs-dismiss="modal">Add</button>
                </div>
            </div>
        </div>
    </div>
</div>

@* Calendar *@
@await Html.PartialAsync("_CalendarComponent")

@* TODO I need to rethink the UI here, this is sooooo ugly *@
<div class="text-center mt-5">
    <span>@Localizer["saveSpan"]</span>
    <button id="saveBtn" type="button" class="btn btn-primary">@Localizer["saveBtn"]</button>
</div>

<div class="text-center mt-5">
    <span>@Localizer["changeSpan"]</span>
    <button id="changeBtn" type="button" class="btn btn-primary">@Localizer["changeBtn"]</button>
</div>

@*Alert*@
@await Html.PartialAsync("_Alerts")

@{
    var config = options.Value;
    var userApi = config.ServerUrl + config.UserApiUrl;
}

@section Scripts
    {
    <script type="module">
        import { getUIElements, hookUpInteractionHandlers, setLocalizedStrings, setUrls, setServerdata, run } from "../../js/calendar.js"

        document.ready(function () {
            // server-side data
            const months = ["@Localizer["err"]", "@Localizer["jan"]", "@Localizer["feb"]",
                "@Localizer["mar"]", "@Localizer["apr"]", "@Localizer["may"]", "@Localizer["jun"]",
                "@Localizer["jul"]", "@Localizer["aug"]", "@Localizer["sep"]", "@Localizer["oct"]",
                "@Localizer["nov"]", "@Localizer["dec"]"];
            const minDate = new Date("@Model.FirstSchedulableDate.Date.ToString("yyyy-MM-dd")");
            const maxDate = new Date("@Model.LastSchedulableDate.Date.ToString("yyyy-MM-dd")");
            getUIElements();
            hookUpInteractionHandlers();
            setUrls("@userApi", "@Url.Action("Full", "Plan")");
            setLocalizedStrings(months, "@Localizer["saveErr"]", "@Localizer["loadErr"]", "@Localizer["updateErr"]", "@Localizer["invalidNameErr"]");
            setServerdata(minDate, maxDate, "@Model.Id");
            run();
        });
    </script>
}